[package]
name = "rstat"
version = "0.1.0"
edition = "2024"

[dependencies]
serde = { version = "1", features = ["derive"] }
serde_json = "1"
libc = "0.2"
goblin = { version = "0.10", default-features = false, features = ["elf32", "elf64", "endian_fd", "std"] }
